@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #0a0a0a;
    --white: #ededed;
    --gray: #b6b4b4;
    --gray-light: #EBEBEB;
    --gray-dark: #362e2e;
    --red: #882323;
    --green: #2b6442;
    --green-light: #4eb36d;
    --primary: #693169;
    --primary-hover: #491149;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #0a0a0a;
    --white: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto_Mono', 'Nunito', sans-serif;
}