.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 14px;
    transition: all 0.2s;
}

.primary {
    color: white;
    background-color: #693169;
}

.primary:hover {
    background-color: #491149;
}

.ghost {
    color: #000000;
    background-color: none;
    border: 1px solid #EBEBEB;
}

.ghost:hover {
    color: #ededed;
    background-color: #693169;
    border: 1px solid #EBEBEB;
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.2s;
}

.primary svg,
.ghost:hover svg{
    stroke: #ededed;
}